.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
    font-size: 70px;
    font-family: "Momo Trust Display", sans-serif;
}

h2{
    font-family: monospace;
}
