
h1{
    font-size: 70px;
    font-family: sans-serif;
    text-shadow: -3px 3px 8px rgb(20, 20, 20);
}

h2{
    font-family: monospace;
    font-size: 50px;
}

body{
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(190, 190, 190);
}

#game {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
}
input, button {
    padding: 8px 12px;
    font-size: 16px;
    margin-top: 10px;
}
#output{
    margin-top: 20px;
    white-space: pre-line;
}





